body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    section#users {
        background-color: #bebe;
        img {
            width: 150px;
            border-radius: 10px;
        }
    }
}
