@import "variables" ;
@import "reset";

// $bgColor: #444;

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    background-color: $bgColor;
}

//? Header
header {
    background-color: $navBgColor;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //? nested
    img {
        width: 80px;
        border: $myBorder;
        border-radius: 10px;
        &:hover {
            scale: 1.1;
        }
    }

    ul {
        list-style-type: none;
        li {
            display: inline-block;
            padding: 0.5rem;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

//? Banner
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $bannerBgColor;
    line-height: 2rem;

    aside {
        button {
            border: none;
            background-color: $buttonColor;
            border-radius: 10px;
            padding: 0.5rem;
            &:hover {
                background-color: $bgColor;
                cursor: pointer;
            }
        }
    }
    img {
        width: 40%;
        max-width: 600px;
        min-width: 300px;
    }
}