
  @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Shadows+Into+Light&display=swap');

.font1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.font2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-family: 'Audiowide', cursive;
font-family: 'Shadows Into Light', cursive;
}
.font3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
    font-variant: small-caps;
    
}

.font4{
    font-family: 'Audiowide', cursive;/*google fontslardan*/
    /*font-family: harvey;*/
}

.font5{
    /*font-family: "harvey";*/
}

/*@font-face {
    font-family: "harvey";
    src: url(./font/Jolly_Lodger.zip);
}*/   /*lokalden font family kullanmak istersem*/